{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% bootstrap_messages %}
  <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
  <title>Librería de SSBW</title>
</head>

<body class="d-flex flex-column vh-100">
  <!-- Encabezado de la página -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand ps-4" href="{% url 'home' %}">
        Página de inicio
      </a>
      <div class="d-flex justify-content-between me-3">
        <form action="{% url 'buscar' %}" class="d-flex" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input name="query" class="form-control me-2" type="search" placeholder="Busca un libro" aria-label="Search" required>
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
        <a class="btn btn-outline-primary ms-2" href="{% url 'añadir' %}" role="button">Añadir libro</a>
      </div>

    </div>
  </nav>

  <!-- Contenido de la página -->
  <main class="container-fluid flex-grow-1">
    {% block content %}
    {% endblock %}
  </main>

  <!-- Footer de la página -->
  <footer class="bg-light text-center sticky-bottom">
    <div class="container p-3">
      <div class="row">
        <div class="col-lg-12">
          <p class="mb-0">José Alberto Gómez García - SSBW</p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>