{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5" id="container_tabla_libros">

    {% if libros|length != 0 %}
    {% if busqueda != "" %}
    <h1 class="mb-4">Resultados de la búsqueda: {{busqueda}}</h1>
    {% endif %}
    <table class="table mb-4" id='tabla_libros' style="table-layout: fixed;">
        <thead>
            <tr>
                <th scope="col">ISBN</th>
                <th scope="col">Título</th>
                <th scope="col">Autor</th>
                <th scope="col"></th>
            </tr>
        </thead>
        {% for libro in libros %}
        <tr>
            <td>{{libro.isbn}}</td>
            <td>{{libro.title}}</td>
            <td>{{libro.author}}</td>
            <td>
                <a href="{% url 'detalle' libro.isbn %}" class="btn btn-primary">Ver detalles</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h1 class="mb-4" id="no_resultados">No hay resultados para la búsqueda: {{busqueda}}</h1>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"></script>
    <script src="{% static 'reactive-search.js' %}"></script>
{% endblock %}