{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_javascript %}

{% block content %}

{% if libro %}

<div class="container mt-5">
    <!-- <h1 class="text-center">Detalles de libro</h1> -->
    <div class="row mt-4">
        <div class="col-md-6">
            <h3>Título</h3>
            <p class="lead">{{libro.title}}</p>
            <h3>Autor</h3>
            <p class="lead">{{libro.author}}</p>
            <h3>Género</h3>
            <p class="lead">{{libro.genre}}</p>
            <h3>ISBN</h3>
            <p class="lead">{{libro.isbn}}</p>
        </div>

        <div class="col-md-6">
            <div>
                <h3>Descripción</h3>
                <p class="lead">{{libro.description}}</p>
                <h3>Fecha de publicación</h3>
                <p class="lead">{{libro.published|date:"d \d\e F \d\e Y"}}</p>
                <h3>Editorial</h3>
                <p class="lead">{{libro.publisher}}</p>
            </div>
        </div>
    </div>
    {% if user.is_staff %}
    <div class="row mt-4 mb-4">
        <div class="text-center">
            <a class="btn btn-outline-primary d-inline-block mx-auto me-2" href="{% url 'editar' isbn %}">Modificar
                libro</a>
            <button class="btn btn-outline-danger d-inline-block mx-auto" data-bs-toggle="modal"
                data-bs-target="#eliminarLibroModal">Eliminar libro</button>
        </div>

        <!-- Modal para confirmar borrado-->
        <div class="modal fade" id="eliminarLibroModal" tabindex="-1" aria-labelledby="eliminarLibroModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="eliminarLibroModalLabel">Eliminar libro</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Está seguro de que desea eliminar este libro? Esta acción no se puede deshacer.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <form action="{% url 'eliminar' isbn %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% else %}
<div class="container mt-5 mb-4">
    <h1 class="text-center">No se encontró el libro con ISBN: {{isbn}}</h1>
</div>
{% endif %}

{% endblock %}